@charset "utf-8";
/*
아이디 선택자(#): 문서내에서 단 한번만 사용
클래스 선택자(.): 문서내에서 여러번 반복/재사용
*/

/*===============0.스타일 공통 속성=============*/
.mx-auto{
  margin: 0 auto; /* 상하 0, 좌우 auto, margin + x축 +auto */

}
a:link, 
.mx-10{
  margin-left: 10px;
  margin-right: 10px;
}
.my-30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.my-50{
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-center{
  text-align: center;
}
*{/* 스타일 초기화 */
  margin: 0;
  padding: 0;
}
.logo{
  width: 100px;
  height: 110px;
  display: block;
}

.nav{
  height: 60px;
  line-height: 60px;

}
.bg-nav{
  background-color: #005891;
}
/*
  :link-link로 지정된 텍스트
  :visited-link텍스트를 클릭한 이후 (방문한 적이 있는)
  :hover- 
  */
a:link{
  color:white;
  text-decoration: none;
}
a:hover{
  color: #fcff00;
  text-decoration: none;/* xprtmxm Rnala:dksgka */
}
.cf{
  width: 800px;
  height: 500px;
}